[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"azure.identity" = "*"
"azure.keyvault.secrets" = "*"
openai = "*"
tenacity = "*"
djangorestframework = "*"
twilio = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
